@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --paleCyan: hsl(193, 100%, 96%);
    --darkCyan: hsl(192, 100%, 9%);
    --grayishBlue: hsl(208, 11%, 55%);
}

body {
    font-size: calc(1em + 1vw);
    font-family: 'Open Sans', sans-serif;
}

h1, h3 {
    font-family: 'Poppins', sans-serif;
}

.topSection {
    background-color: var(--paleCyan);
    padding: .5em;
    text-align: center;
    background-image: url('images/bg-hero-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 7em;
}

.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
}

.header img { 
    width: 10em;
}

.header span {
    --grayishBlue: hsla(208, 11%, 55%, .4);
    background-color: white;
    padding: .3em 1em;
    border-radius: 1.3em;
    box-shadow: 3px 3px 10px var(--grayishBlue);
    font-weight: 700;
}

.topText *{
    font-size: 1.5em;
    margin-bottom: .7em;
}

.topText h1 {
    font-size: 2.5em;
    line-height: 1.6;
}

.freeLink {
    text-decoration: none;
    color: white;
    background-color: var(--pink);
    font-weight: 700;
    padding: 1em 2.5em;
    display: inline-block;
    margin: 1.8em 0 3.4em;
    border-radius: 1.4em;
    box-shadow: 4px 4px 8px rgb(240, 171, 184);
}

.freeLink:hover {
    --pink: hsl(322, 100%, 75%);
}

.top img {
    margin-bottom: 4em;
}

.middle, .bottom {
    max-width: 90vw;
    margin: auto;
}

.mid {
    margin-bottom: 5em;
    padding: 2em;
    border-radius: 1.5em;
    box-shadow: -2px 3px 5px hsla(192, 100%, 13%, .2),
    0 -3px 4px hsla(192, 100%, 15%, .1);
    text-align: center;
}

.mid h3 {
    font-size: 1.7em;
    margin: 2.8em 0 1.4em;
    color: var(--darkCyan);
}

.mid p {
    color: var(--grayishBlue);
}

.bottom {
    background-color: white;
    border-radius: 1.5em;
    box-shadow: -2px 3px 6px rgba(31, 30, 30, 0.2),
    0 -3px 6px rgba(31, 30, 30, 0.1);
    text-align: center;
    padding-top: 3.4em;
    top: 70px;
    position: relative;
    z-index: 1;
}

footer {
    padding: 2em;
    background-color: var(--darkCyan);
    color: white;
}

.footerLogo {
    margin: 5em 0 1.5em;
}

.left {
    margin-bottom: 3em;
}

.left > div:not(:first-of-type) {
    display: flex;
    align-items: start;
    gap: 1.5em;
    margin-bottom: 1.5em;
}

.left > div img {
    width: 1.5em;
}

.location {
    margin-bottom: 1.5em;
    position: relative;
}

.location  *{
    display: inline-block;
}

.location p {
    width: calc(100% - 4.165em);
    margin-left: 3.5em;
}

.location img {
    position: absolute;
    top: 0;
}

.center a{
    display: block;
    text-decoration: none;
    color: inherit;
    margin-bottom: 1.3em;
    font-weight: 600;
}

.right {
    text-align: center;
}

.right a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.center a:hover, .right a:hover {
    color: rgb(8, 214, 214);
}

ion-icon {
    font-size: 2em;
    margin-block: 1em .5em;
}

* a {
    transition: .5s ease;
}

@media(min-width:960px) {

    body {
        font-size: calc(1em + .1vw);
    }

    .topSection {
        background-image: url(images/bg-hero-desktop.svg);
    }

    .top {
        display: flex;
        justify-content: space-around;
    }

    .topText {
        width: min(550px, 80%);
        text-align: left;
    }

    .top img {
        max-width: calc(100% - 650px);
    }

    .mid {
        display: flex;
        justify-content: space-around;
    }

    .mid img{
        max-width: 400px;
    }

    .midText {
        max-width: 500px;
    }

    .grow img, .users img {
        order: 2;
    }

    .bottom {
        max-width: 700px;
    }

    footer{
        display: flex;
        justify-content: space-around;
        position: relative;
    }

    footer > *  {
        flex: 1;
    }

    .center {
        display: flex;
        justify-content: space-around;
    }

    .center{
        align-self: center;
        margin-top: 2.5em;
    }

    .right {
        align-self: center;
    }

    .right a {
        margin-bottom: 5em;
    }

    .right p {
        position: absolute;
        bottom: 2em;
        text-align: right;
    }
}